* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
}

/* header css */

.header {
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
    padding: 10px 100px 80px 100px;
}

/* header top portion */
.header-top {
    display: flex;
    justify-content: space-between;
    padding-bottom: 80px;
    /* flex: 1; */
}

.header-logo {
    font-size: 24px;
    color: #f9faf8;
}

.header-links {
    display: flex;
    gap: 20px;
}

a, .hero-secondary {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

/* header hero portion */

.header-bottom {
    display: flex;
    justify-content: space-between;
    /* flex: 1; */
}

.hero-main {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
}

.hero {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 500px;
}

button {
    background-color: #3882F6;
    padding: 5px 20px;
    border-radius: 8px;
    color: #e5e7eb;
    box-shadow: none;
    border: 0;
    align-self: flex-start;
}

