* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
}

/* header section */

.header {
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
    padding: 10px 100px 80px 100px;
}

/* header top portion */
.header-top {
    display: flex;
    justify-content: space-between;
    padding-bottom: 80px;
    /* flex: 1; */
}

.header-logo {
    font-size: 24px;
    color: #f9faf8;
}

.header-links {
    display: flex;
    gap: 20px;
}

a, .hero-secondary {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

/* header hero portion */

.header-bottom {
    display: flex;
    justify-content: space-between;
    flex: 1;
}

.hero-main {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
}

/* .hero-image {
    object-fit: cover;
} */

.hero {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 500px;
}

.sign-up {
    background-color: #3882F6;
    padding: 5px 20px;
    border-radius: 8px;
    color: #e5e7eb;
    box-shadow: none;
    border: 0;
    align-self: flex-start;
}

/* information section */

.information {
    display: flex;
    flex-direction: column;
    padding: 40px 0 80px;
    align-items: center;
    gap: 40px;
    text-align: center;
}

.information-title {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
}

.items {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
}

.item-1, .item-2, .item-3, .item-4 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: min-content;
    align-items: center;
    gap: 5px;
}

.items img {
    width: 150px;
    height: 150px;
}

.text {
    font-size: 12px;
}

/* quote section */

.quote-container {
    padding: 80px 100px;
    background-color: #E5e7eb;
    display: flex;
    justify-content: center;
}
.quote {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    align-items: center;
}

.text-quote {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1f2937;
    align-self: center;
}

.thor {
    font-weight: bold;
    align-self: flex-end;
    padding: 20px;
}

/* call to action section */

.cta-container {
    display: flex;
    justify-content: center;
    padding: 80px 100px;
}

.cta-section{
    display: flex;
    justify-content: space-between;
    background-color: #3882F6;
    color: #f9faf8;
    padding: 30px 100px;
    width: 1000px;
    border-radius: 8px;
}

.words-1 {
    font-weight: 500;
    font-size: 16px;
}

.words-2 {
    font-size: 12px;
}

.cta-button {
    color:#f9faf8;
    border-width: 2px;
    background-color: #3882F6;
    padding: 5px 30px;
    border-color: #f9faf8;
    border-radius: 8px;
    border-style: solid;
}

/* footer */
.footer {
    background-color: #1f2937;
    color: #f9faf8;
    font-size: 12px;
    text-align: center;
    padding: 20px 100px;
}